.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.colum{
    max-width: 400px;
    margin: 15px;
    /* height: auto; */
    height: 80%;
    
   
    
}

.movieImage{
    border-radius: 5px;
}

.movieText{
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.firstItem{
    margin-top: 0;
}

