.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.colum{
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
    
   
    
}

.movieImage{
    border-radius: 5px;
}

.movieText{
    font-size: 20px;
}

.firstItem{
    margin-top: 0;
}

