body{
    font-family: 'League Gothic', sans-serif;
    
}
.title{
    
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 10px;
    font-size: 65px;
    animation: flicker 1.5s infinite alternate;
    color: rgb(245, 245, 245);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

title{
  animation: parpadear 2s infinite backwards;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(161, 7, 7),
        0 0 80px rgb(255, 0, 34),
        0 0 90px rgb(206, 5, 5),
        0 0 100px rgb(191, 0, 224),
        0 0 150px rgb(240, 3, 102);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

